@import "../../../../mixins";
.news-editing-page-wrapper {
  width: 30%;
  margin: 0 auto;
}
.news-edit-header {
  margin: 62px 0 48px;
  text-align: center;
}
.news-editing-form {
  @include theme-bg;
  padding: 34px 40px 40px;
  display: flex;
  flex-direction: column;
  & label {
    color: #aab6ca;
    font-size: 13px;
  }
  & input {
    @include input-for-creation-page;
    padding: 12px;
    margin: 8px 0 4px;
  }
  & textarea {
    @include input-for-creation-page;
    padding: 12px 12px 30px 12px;
    min-height: 220px;
    resize: none;
    margin: 8px 0 4px;
  }
}
.news-edit-buttons {
  @include theme-bg;
  margin: 16px 0 61px;
  padding: 16px 25px;
  display: flex;
  justify-content: space-between;
  & .news-edit-buttons-back {
    @include default-button;
    padding: 12px 46px;
  }
  & .news-edit-buttons-edit {
    @include primary-button;
    padding: 12px 48px 12px 33px;
  }
}
.news-editing-images {
  position: relative;
  & .news-edit-image {
    max-width: 100%;
  }
  & .news-reset-image {
    right: 5%;
    top: 70%;
    position: absolute;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    mix-blend-mode: normal;
    opacity: 0.85;
    border-radius: 5px;
  }
}
