@import "../../node_modules/modern-normalize/modern-normalize.css";

@mixin modal {
}
@mixin button-gradient {
  background: linear-gradient(63.5deg, #8065ec 16.63%, #314ad7 83.37%);
  color: white;
  border-radius: 4px;
  border-color: #8065ec;
}
