@mixin default-button {
  cursor: pointer;
  background-color: #fff;
  mix-blend-mode: normal;
  border: 1px solid #d5dce7;
  border-radius: 6px;
  color: #848fa5;
  &:hover {
    color: #848fa5;
    background: linear-gradient(
      0deg,
      rgba(132, 143, 165, 0.1),
      rgba(132, 143, 165, 0.1)
    );
    mix-blend-mode: normal;
    border: 1px solid #d5dce7;
    border-radius: 5px;
  }
  &:active {
    background: rgba(132, 143, 165, 0.2);
    mix-blend-mode: normal;
    border: 1px solid #c2cbda;
    border-radius: 5px;
  }
  &:disabled {
    cursor: not-allowed;
    background: rgba(132, 143, 165, 0.2);
    mix-blend-mode: normal;
    border: 1px solid #c2cbda;
    border-radius: 5px;
  }
}
@mixin primary-button {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(63.5deg, #8065ec 16.63%, #314ad7 83.37%);
  border: 1px solid #8065ec;
  border-radius: 6px;

  &:hover {
    background: linear-gradient(63.5deg, #8065ec 16.67%, #314ad7 83.37%);
    box-shadow: 0 4px 8px rgba(60, 72, 97, 0.3);
    border-radius: 5px;
  }
  &:active {
    background: #2a40bf;
    box-shadow: 0 2px 3px rgba(60, 72, 97, 0.2);
    border-radius: 5px;
  }
  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(
      63.5deg,
      #8065ec 16.63%,
      #314ad7 83.37%,
      #314ad7 83.37%
    );
    border-radius: 5px;
  }
}
@mixin secondary-button {
  background-color: #fff;
  color: #8065ec;
  mix-blend-mode: normal;
  border: 1px solid #8065ec;
  border-radius: 6px;
  &:hover {
    background: rgba(128, 101, 236, 0.2);
    mix-blend-mode: normal;
    border: 1px solid #8065ec;
    border-radius: 5px;
  }
  &:active {
    background: rgba(128, 101, 236, 0.4);
    mix-blend-mode: normal;
    border: 1px solid #8065ec;
    border-radius: 5px;
  }
  &:disabled {
    background: rgba(128, 101, 236, 0.4);
    mix-blend-mode: normal;
    border: 1px solid #8065ec;
    border-radius: 5px;
  }
}
@mixin grey-input {
  color: #848fa5;
  background: #f4f6fc;
  border: 1px solid #d5dce7;
  box-sizing: border-box;
  border-radius: 5px;
}
@mixin input-for-creation-page {
  color: #5b6887;
  background: rgba(244, 246, 252, 0.4);
  border: 1px solid #d5dce7;
  box-sizing: border-box;
  border-radius: 5px;
  &:active {
    outline: 2px solid #8065ec;
  }
  &:focus {
    outline: 2px solid #8065ec;
  }
  &:hover {
    outline: 2px solid #8065ec;
  }
}
@mixin theme-bg {
  background-color: #fff;
  box-shadow: 0px 6px 12px #e2e7ef;
  border-radius: 5px;
}
@mixin dropzone {
  background: rgba(244, 246, 252, 0.2);
  border: 1px dashed #d5dce7;
  box-sizing: border-box;
  border-radius: 5px;
  height: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
